<div class="animated fadeIn">
    <div ng-controller="downloadCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar Data File</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        <label class="col-sm-1 col-form-label-sm mb-0">Nama</label>
                                        <div class="col-sm-2">
                                            <input st-search="nama" class="form-control form-control-sm" placeholder="Cari berdasarkan nama"/>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Status</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="is_deleted">
                                                <option value="0">Aktif</option>
                                                <option value="1">Terhapus</option>
                                            </select>
                                        </div>
                                        <label class="col-sm-1 col-form-label-sm mb-0">Jenis</label>
                                        <div class="col-sm-2">
                                            <select class="form-control form-control-sm" st-search="jenis">
                                                <option value="to">Nilai Try Out</option>
                                                <option value="dn">File Download</option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="padding: 10px;">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    <th class="align-left">Nama</th>
                                    <th class="align-left">Keterangan</th>
                                    <th class="align-left">File PDF</th>
                                    <th class="align-left">Status</th>
                                    <th class="align-left">Jenis</th>
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <td class="align-left">{{ row.nama }}</td>
                                <td class="align-left">{{ row.keterangan }}</td>
                                <td class="align-left">{{ row.upload_file }}</td>
                                <td class="align-left">{{ row.status }}</td>
                                <td class="align-left">
                                    <span ng-if="row.jenis == 'to'">Nilai Try Out</span>
                                    <span ng-if="row.jenis == 'dn'">File Download</span>
                                </td>
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="delete(row)"></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="20" st-template="tpl/common/pagination.custom.html">
                </div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>{{ formtittle }}</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header">DAFTAR FILE</h6>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm required">Nama</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control form-control-sm" ng-model="form.nama" ng-disabled="is_view" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm">Keterangan</label>
                                    <div class="col-sm-9">
                                        <textarea type="text" class="form-control form-control-sm" ng-model="form.keterangan" ng-disabled="is_view" required></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label-sm">Upload File</label>
                                    <div class="col-sm-9">
                                        <input accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input="" class="form-control form-control-sm" ng-model="form.upload_file" type="file" ng-disabled="is_view"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group row">
                                   <label class="col-sm-3 col-form-label-sm required">Status</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" ng-disabled="is_view" ng-model="form.status">
                                            <option value="aktif">Aktif</option>
                                            <option value="tidakaktif">Tidak Aktif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                   <label class="col-sm-3 col-form-label-sm required">Jenis</label>
                                    <div class="col-sm-9">
                                        <select class="form-control form-control-sm" ng-disabled="is_view" ng-model="form.jenis">
                                            <option value="to">Nilai Try Out</option>
                                            <option value="dn">File Download</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek  <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
