<div class="animated fadeIn">
    <div ng-controller="artikelCtrl">
        <!-- Index -->
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-3">
                        <button class="btn btn-primary btn-sm" ng-click="create();">
                            <i class="fa fa-plus"></i>
                            &nbsp; Tulis Artikel
                        </button>        
                    </div>
                    <div class="col-md-9">
                        <form name="landaform" novalidate="">
                            <div class="row">
                                <div class="col-md-4">
                                    <input type="text" placeholder="Cari Berdasarkan Judul..." class="form-control form-control-sm" st-search="judul">
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control form-control-sm" st-search="status">
                                        <option value="">Pilih Status</option>
                                        <option value="publish">Publish</option>
                                        <option value="trash">Trash</option>
                                        <!-- <option value="draf" ng-if="user.status == 'Penulis'">Draf</option> -->
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <select class="form-control form-control-sm" st-search="kategori">
                                        <option value="">Pilih Kategori</option>
                                        <option value="1">Apartemen</option>
                                        <option value="2">Perumahan</option>
                                        <!-- <option value="draf" ng-if="user.status == 'Penulis'">Draf</option> -->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed">
                                <td style="width: 80px;">
                                    <div style="height: 55px;width: 80px;overflow: hidden;">
                                        <img src="{{row.gambar_thumb}}" style="float: left;width: 80px;height: auto;">
                                    </div>
                                </td>
                                <td>
                                    <!-- Sudah Publish -->
                                    <span style="font-size: 14px;" ng-if="row.status == 'publish'">
                                        <a href="{{row.url}}" target="_blank" ng-bind-html="row.judul"></a>
                                    </span>

                                    <!-- Belum Publish -->
                                    <span style="font-size: 14px;" ng-if="row.status != 'publish'" ng-bind-html="row.judul"></span><br>

                                    <!-- Keyword -->
                                    <span class="text-muted">{{row.kategori.nama}}</span><br>

                                    <!-- Viral / Tidak -->
                                    <span ng-if="row.is_viral == 1" style="color: #4dbd74">VIRAL</span>
                                </td>
                                <td align="center">{{ row.keywordUtama | uppercase }}</td>
                                <td align="center">
                                    <div ng-if="row.status == 'publish'">
                                        <label style="color: #4dbd74; font-style: italic;">{{ row.status | uppercase}}</label>
                                    </div>
                                    <div ng-if="row.status == 'draf' || row.status == 'editorial' || row.status == 'revisi'">
                                        <label style="color: #1985ac; font-style: italic;">{{ row.status | uppercase}}</label>
                                    </div>
                                    <div ng-if="row.status == 'ditolak' || row.status == 'trash'">
                                        <label style="color: #ef0705; font-style: italic;">{{ row.status | uppercase}}</label>
                                    </div>
                                </td>
                                <td align="center">
                                    {{row.penulis}}
                                </td>
                                <td align="center">
                                    {{row.tanggal}}<br>
                                    {{row.waktu}}
                                </td>
                                <td>
                                    <div ng-if="user.status == 'Penulis'">
                                        <div ng-if="row.status == 'revisi' || row.status == 'draf'">
                                            <div class="btn-group pull-right" role="group">
                                                <button type="button" class="btn btn-info fa fa-pencil" ng-click="update(row)"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div ng-if="row.status != 'draf'">
                                            <div class="btn-group pull-right" role="group">
                                                <!-- <button type="button" class="btn btn-success fa fa-hand-o-up" ng-click="viral(row)" data-placement="bottom" title="Viralkan" ng-if="row.is_viral != 1 && row.status == 'publish'"></button> -->
                                                <!-- <button type="button" class="btn btn-danger fa fa-hand-o-down" ng-click="unviral(row)" data-placement="bottom" title="Hapus Viral" ng-if="row.is_viral == 1 && row.status == 'publish'"></button> -->
                                                <button type="button" class="btn btn-info fa fa-pencil" ng-click="update(row)" data-placement="bottom" title="Edit Artikel"></button>
                                                <button type="button" class="btn btn-danger fa fa-trash" ng-click="delete(row)" data-placement="bottom" title="Hapus Artikel" ng-if="row.status == 'trash'"></button>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>

        <!-- Editor -->
        <div ng-if="is_edit" ng-hide="is_view">
            <div ng-include="'tpl/common/artikel/editorbaru.html'"></div>
            <div ng-include="'tpl/common/artikel/modal.html'"></div>
        </div>

        <!-- View -->
        <div ng-include="'tpl/common/artikel/preview.html'" ng-show="is_view"></div>
    </div>
</div>