<div ng-controller="testimoniCtrl">
  <div class="title-head">
    <!-- <h1>Data Master - Voucher</h1> -->
  </div>
  <div class="">
    <div class="panel panel-default">
      <div class="wrapper-sm" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
          <div class="panel-heading">
            <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-search"></i>&nbsp;Pencarian
            </button>
            <div class="btn-group pull-right" role="group">
              <button type="button" class="btn btn-primary" ng-click="create();"><i class="fa fa-plus"></i>&nbsp;Tambah Data</button>
            </div>
          </div>
          <div class="panel-body" ng-show="!isCollapsed">
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label">Nama</label>
                <div class="col-sm-3">
                  <input st-search="nama" class="form-control" />
                </div>
                <label class="col-sm-1 control-label">Status</label>
                <div class="col-sm-3">
                  <select class="form-control" st-search="is_deleted" stinputevent="change">
                    <option value="0">
                      Aktif
                    </option>
                    <option value="1">
                      Tidak Aktif
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <!-- <th>No.</th> -->
                  <th style="text-align:left">Nama</th>
                  <th style="text-align:left">Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody ng-show="!isLoading">
                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                  <!-- <td class="text-center">{{$index+1}}</td> -->
                  <td>{{row.nama}}</td>
                  <td>
                    <span class="badge badge-pill badge-success" ng-if="row.publish=='1'">Approve</span>
                    <span class="badge badge-pill badge-danger" ng-if="row.publish=='0'">Reject</span>
                  </td>
                  <td>
                    <div class="btn-group pull-right" role="group">
                      <button type="button" class="btn btn-success fa fa-check" ng-if="row.publish == 0" ng-click="approve(row)"></button>
                      <button type="button" class="btn btn-danger fa fa-times" ng-if="row.publish == 1" ng-click="reject(row);"></button>
                      <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                      <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                      <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                      <button type="button" class="btn btn-danger fa fa-minus" ng-if="row.is_deleted == 1" ng-click="delete(row);"></button>
                      <button type="button" class="btn btn-success fa fa-whatsapp" ng-click="kirim_wa(row)"></button>
                    </div>
                  </td>
                </tr>
              </tbody>
              <tbody ng-show="isLoading">
                <tr>
                  <td colspan="3" class="text-center">Loading ... </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>

      <div class="wrapper-sm" ng-show="is_edit">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>
              {{formtitle}}
            </h5>
          </div>
          <div class="panel-body">
            <form name="landaform" class="form-horizontal form-validation">
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Nama</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.nama" ng-disabled="is_view" required/>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm required">Sekolah</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control form-control-sm" ng-model="form.school" ng-disabled="is_view" required/>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label-sm required">Status</label>
                      <div class="col-sm-9">
                        <div class="btn-group">
                          <label class="btn btn-primary" ng-model="form.publish" ng-disabled="is_view" ng-click="changeTipe(form.publish)" uib-btn-radio="'1'">
                            <i class="fa fa-check" ng-if="form.publish == '1'"></i> Approve
                          </label>
                          <label class="btn btn-primary" ng-model="form.publish" ng-disabled="is_view" ng-click="changeTipe(form.publish)" uib-btn-radio="'0'">
                            <i class="fa fa-check " ng-if="form.publish == '0'"></i> Reject
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="col-md-12">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label-sm">Testimoni</label>
                        <div class="col-sm-9">
                            <textarea type="text" class="form-control form-control-sm" ckeditor="editorOptions" ng-model="form.konten" ng-disabled="is_view" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label-sm">Foto</label>
                      <div class="col-sm-9">
                          <div style="overflow: hidden;background-color: rgba(0, 0, 0, 0.23); width : 100%;text-align: center;">
                              <img class="img img-responsive img-produk img-thumbnail"
                                   data-ng-src="data:image/png;base64,{{form.file_foto.base64}}"
                                   id="img" ng-if="!!form.file_foto.base64"/>
                              <img class="img img-responsive img-produk img-thumbnail" id="img"
                                   ng-if="!form.file_foto.base64 && form.img"
                                   ng-src="img/gambar_testimoni/{{form.img}}"/>
                              <img class="img img-responsive img-produk img-thumbnail" id="img"
                                   ng-if="!form.file_foto.base64 && !form.img"
                                   ng-src="img/no-image.jpg"/>
                              <button type="button" ng-if="form.img"
                                      class="btn btn-danger fa fa-trash-o hapus-file"
                                      ng-click="hapus_gambar(form)"></button>
                          </div>
                          <div class="fileUploadr btn btn-primary edit" ng-if="!is_view" style="width: 100%;" onclick="$('#galeri').click();">
                              <span>
                                <i class="fa fa-camera">
                                </i>
                                <b>
                                  Gambar Galeri
                                </b>
                              </span><br>
                          </div>
                          <input id="galeri" accept="image/*" base-sixty-four-input="" class="upload" ng-model="form.file_foto" style="width: 100%;opacity: 0;" type="file"/>
                      </div>
                    <!-- <button type="button" ng-click="removeGambar()"> hapus</button> -->
                    </div>
                  </div>
                </div>

                
                <!-- <div class="col-md-12">
                  <div class="form-group">
                    <label class="col-sm-2 control-label">Testimoni</label>
                    <div class="col-sm-8">
                      <textarea ckeditor="editorOptions" ng-model="form.konten" ng-disabled="is_view"></textarea>
                    </div>
                  </div>
                </div> -->
              </div>
              <div class="col-md-12" style="margin-top: 20px;">
                <div align="center">
                  <button type="submit" class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                  <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form)"><i class="fa fa-save"></i>&nbsp;Simpan Perubahan</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
