{% extends "layout/mains.twig" %} {% block content %} {% include 'layout/menu.twig' %}
<div class="main-content content-isi">
    <section class="iq-works position-relative anchor" style="padding-top: 40px; padding-bottom: 40px;">
        <a name="layanan"></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mb-0 text-uppercase iq-fw-5 iq-ls-2">
                            Layanan Terbaik
                        </p>
                        <h2 class="title iq-fw-8">
                            Internet Marketing
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="services red">
                        <div class="services-info">
                            <div class="service-shap red">
                                <i class="fab fa-instagram">
                                </i>
                            </div>
                            <h5 class="float-left mt-4">
                                Instagram
                            </h5>
                            <div class="clearfix">
                            </div>
                            <p class="mt-3 mb-0">
                                Buat Iklan yang Terlibat Secara Visual Yang Menginspirasi Tindakan.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services red">
                        <div class="services-info">
                            <div class="service-shap red">
                                <i class="fab fa-facebook-f">
                                </i>
                            </div>
                            <h5 class="float-left mt-4">
                                Facebook
                            </h5>
                            <div class="clearfix">
                            </div>
                            <p class="mt-3 mb-0">
                                Jangkau Pelanggan Potensial dengan Iklan Facebook yang Mudah dan Efektif.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="services red mb-lg-0">
                        <div class="services-info">
                            <div class="service-shap red">
                                <i class="fab fa-google">
                                </i>
                            </div>
                            <h5 class="float-left mt-4">
                                Google
                            </h5>
                            <div class="clearfix">
                            </div>
                            <p class="mt-3 mb-0">
                                Menarik Lebih Banyak Pelanggan Setiap Hari, Meningkatkan penjualan.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="iq-solutions position-relative anchor home-bg" style="padding-top: 40px; padding-bottom: 40px;">
        <a name="profil"></a>
        <div class="container">
            <div class="row flex-row-reverse">
                <div class="col-lg-6 align-self-center">
                    <h2 class="iq-fw-8 mb-2">
                        Siapa Kami ?
                    </h2>
                    <p class="mb-3" style="font-family: 'NotoSans',sans-serif;">
                        Property.id adalah internet marketing agency di Indonesia yang berkomitmen untuk membantu mengembangkan bisnis properti Anda dengan strategi digital marketing paling efektif dan efisien.
                    </p>
                    <p class="mb-3" style="font-family: 'NotoSans',sans-serif;">
                        Didukung dengan 33 tim ahli (Progammer, Graphic Designer, Videografer, Media Social Strategic, SEO, Google Adword dan Social Advertising) yang berpengalaman dibidangnya masing-masing.
                    </p>
                    <p class="mb-3" style="font-family: 'NotoSans',sans-serif;">
                        Kami siap membantu memasarkan bisnis properti Anda ke pasar digital dengan cara yang efisien dan seoptimal mungkin hingga dapat terciptanya ROI dalam bisnis properti Anda.
                    </p>
                </div>
                <div class="col-lg-6">
                    <img alt="fullteam" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/profil/fullteam.jpg" title="profileimage" width="100%">
                    </img>
                </div>
            </div>
        </div>
    </section>
    <section class="iq-solutions position-relative" style="padding-top: 40px;padding-bottom: 40px;">
        <div class="container">
            <div class="row no-gutters flex-row-reverse">
                <div class="col-lg-6">
                    <img title="imagehome" data-srcset="{{ baseUrl }}/assets/property/ilustrasi/3.png" class="img-fluid lazy" alt="image">
                </div>
                <div class="col-lg-6 align-self-center">
                    <h2 class="iq-fw-8 mb-2 iq-mt-40">Masalah Anda :</h2>
                    <p class="mb-3 font-noto-regular">Berikut ini merupakan beberapa masalah yang sering dihadapi oleh client kami dalam mengembangkan usaha</p>
                    <ul class="listing-mark font-noto-regular">
                        <li>Iklan konvensional (billboard/koran/tv) mahal dan kurang mendapatkan impact</li>
                        <li>Iklan hanya dapat laporan viewer</li>
                        <li>Tim sales kekurangan bahan jualan untuk di share</li>
                        <li>Team sales malas untuk canvasing</li>
                        <li>Team sales tidak tercontrol</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="iq-solutions position-relative home-bg" style="padding-top: 40px;padding-bottom: 40px;">
        <div class="container">
            <div class="row no-gutters flex-row-reverse">
                <div class="col-lg-6 align-self-center">
                    <h2 class="iq-fw-8 mb-2 iq-mt-40">
                        Solusi Kami
                    </h2>
                    <p class="mb-3 font-noto-regular">
                        Tidak usah panik akan masalah pengembangan usaha anda, Karena mengatasi masalah tersebut adalah tugas kami.
                    </p>
                    <ul class="listing-mark font-noto-regular">
                        <li>
                            <ion-icon name="checkbox-outline">
                            </ion-icon>
                            Bisa menjangkau semua wilayah, umur, gender, bahkan interest dari setiap orang. Terukur, tidak membutuhkan waktu lama dan tidak perlu dicetak
                        </li>
                        <li>
                            Dapat laporan pencapaian database (kontak)
                        </li>
                        <li>
                            Dari tim internet marketing kami akan membuat design & video yang menarik, yang bisa jadi bahan juala tim Sales
                        </li>
                        <li>
                            Tim internet marketing akan dapat warm customer setiap hari, yang dapat di prospek untuk menjadi hot customer
                        </li>
                        <li>
                            Melalui aplikasi bisa mengontrol hasil follow up sales dan progress canvasing mereka
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/ilustrasi/4.png" title="imagehome" width="90%">
                    </img>
                </div>
            </div>
        </div>
    </section>
        <!-- list logo client -->
    <section class="iq-bestteam position-relative pt-5 pb-5 anchor">
        <a name="portofolio"></a>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="section-title">
                        <p class="mt-5 text-uppercase iq-fw-3 iq-ls-3">
                            Berikut adalah
                        </p>
                        <h3 class="title text-black iq-fw-8">
                            Beberapa Klien Kami
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 row p-0">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/dhika.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/chadstone.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/adhi.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/ritz.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/BLP.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/diamond-park.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row p-0">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/gf.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/GA.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/madi.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/Puri.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/ws.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/tamel.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row p-0">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/TDSK.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/wbs.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/elbanna.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/villakencana.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/grandcikarang.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/grandsubang.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 row p-0 justify-content-center">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/pasarkota.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-4 responsive-lklien">
                        <div class="team-box-klien">
                            <div class="team-img text-center">
                                <img alt="image" class="img-fluid lazy" data-srcset="{{ baseUrl }}/assets/property/logo/klien/grandvista.png" title="imagehome">
                                </img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% include 'layout/footer.twig' %} {% endblock %}