/**
 * Align
 */
.align-center{
    text-align: center !important;
}
.align-left{
    text-align: left !important;
}
.align-right{
    text-align: right !important;
}
/**
 * End align
 */

/**
 * Padding style
 */
.pr-25px{
	padding-right: 25px;
}
.pt-0px{
	padding-top: 0px;
}
.pl-15px{
    padding-left: 15px;
}
.pr-15px{
    padding-right: 15px;
}
.p-0px{
	padding: 0px; 
}
.pb-15px{
    padding-bottom: 15px;
}
.pl-0px{
    padding-left: 0px;
}
.pr-0px{
    padding-right: 0px;
}
/**
 * End padding style
 */

/**
 * Margin style
 */
.mt-5px{
	margin-top: 5px;
}
.mt-15px{
	margin-top: 15px;
}
.mb-0px{
	margin-bottom: 0px;
}
/**
 * End margin style
 */

/**
 * Template
 */
.fs-12px{
    font-size: 12px;
}
.i-checks{
	font-size: 12px;
	margin-bottom: 0px;
}
.tittle-header{
    padding-bottom: 15px;
    margin-top: 15px;
    color: #000000;
    margin-bottom: 15px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}
.pagination{
    font-size: 12px;
}
.ui-select-bootstrap .ui-select-match .btn-default{
    height: 28px;
    font-size: 12px;
}
.ui-select-toggle{
    padding-top: 5px; 
}
.ui-select-bootstrap .ui-select-choices-row>span{
    font-size: 12px;
}
.ui-select-search{
    font-size: 12px;
    height: 28px;
}
.sidebar .nav-item a{
    font-size: 12px;
}
.angka{
    text-align: center;
}
.badge-table{
    font-size: 11px;
}
.input-group-sm{
    height: 28px;
}
.input-group-sm .input-group-text{
    font-size: 11px;
}
.rp{
    text-align: right;
}
.required::after {
    content: '*';
    color: red;
}
.steps-indicator li.current a:before{
    background-color: #31b5f5 !important;
}
.app-header.navbar .navbar-brand{
    padding: 0px;
    padding-right: 0px;
    border-right: 1px solid #f0f3f5;
    position: relative;
    height: 102px;
    font-size: 20px;
    border-bottom: none;
    background-color: #ffff;
    width: 200px;
    text-align: center;
}
.px-3{
    font-size: 13px;
}
.navbar-brand{
    margin-top: 5px;
}
.navbar-brand-text{
    margin-top: 8px;
}
.img-brand{
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}
/**
 * End template
 */

/** 
 * Password Checker
 */
input.ng-pristine + ul#strength {
    display: none;
}
ul#strength {
    /*display: inline;*/
    list-style: none;
    margin: 0;
    /*margin-left: 15px;*/
    padding: 0;
    vertical-align: 2px;
}
.point:last {
    margin: 0 !important;
}
.point {
    background: #ddd;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}
.point-text {
    background: #ddd;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    margin-left: 4px;
    background-color: transparent;
    font-size: 11px;
}

.help-block-sm{
    font-size: 11px;
    margin-bottom: 0px;
}

/** End Password Checker */

/**
 * Table
 */
.table td, .table th{
	border-top: 1px solid #c9ced3;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
}
.table thead th{
	border-bottom: 1px solid #efefef;
}
.table td, .table th{
    vertical-align: middle;
}
/**
 * End table
 */

/**
 * Editor
 */
#editor h1 {
    position: relative;
    font-size: 2em;
 }

#editor h2 {
    position: relative;
    font-size: 1.5em;
 }

#editor [contenteditable=true] {
    outline: none;
    word-wrap: break-word;
    cursor: text;
}

#editor .ta-editor [contenteditable=true] {
    min-height: 200px;
    outline: none;
    word-wrap: break-word;
    cursor: text;
}

#editor .judul {
    font-family: Roboto Slab,serif;
    font-weight: 500;
    margin-bottom: 5px;
}

#editor .heading {
    font-family: Roboto Slab,serif;
    font-weight: 400;
    margin-bottom: 5px;
}

#editor [placeholder]:empty::before {
    content: attr(placeholder);
    color:grey;
    font-style:italic;
}

#editor [placeholder]:empty:focus::before {
    content: "";
}

.image-gallery {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.image-gallery-box {
    text-align: center;
    padding: 40px 0 50px;
    border: 2px dashed #cecece;
}

.image-gallery-box-text {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.button-upload {
    margin: 0 3px 15px;
    padding: 10px 20px;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 500;
    background: #20a8d8;
    color: #fff;
    border: #20a8d8;
    outline: none;
}

.button-upload-modal {
    text-align: center;
    padding: 50px 130px 50px;
    border: 2px dashed #cecece;
    width: 100%;
}

.kanan{
    padding-bottom: 10px;
}

.panel-kiri {
    text-align: center;
    border-radius: 5px;
    position: fixed;
    font-size: 12px;
    z-index: 10;

}
.panel-kiri header{
    padding: 7px;
}

.panel-kiri button{
    padding: 7px;
    background: none;
    border:none;
}

.panel-kiri button:hover{
    padding: 7px;
    background : #333;
    color: #fff;
    border:none;
    border-radius: 30px;
}

.ta-editor {
  min-height: 200px;
  height: 200px;
  overflow: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  color: #000;
}

.ta-toolbar .btn {
  border-radius : 0;
  padding : 5px;
  min-width : 30px;
  background-color : #fff;
  color : #333;
}

.ta-toolbar .btn:hover {
  border-radius : 0;
  padding : 5px;
  min-width : 30px;
  background-color : #333;
  color : #fff;
}

[text-angular] { 
  position : relative;
}

@media all and (max-width: 699px) {
  .ta-editor { padding-top : 30px; }
}

.ta-toolbar .btn-group { 
  margin : 0!important;
  box-shadow : 0 1px 3px rgba(0,0,0,0.2);
}

.ta-editor {
  border :1px solid #EEE;
  border-radius: 3px!important;
}

.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}

nav-tabs-custom>.nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.listImage {
    width: 100px;
    height: 60px;
}

.listImage:hover {
    border: 2px solid #000;
}

.overlay {
    background-color:#EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */ 
    filter: alpha(opacity=50); /* in IE */
}
.overlay .text {
     color: #000;
     font-size: 60px;
     line-height: 1.5em;
     text-shadow: 2px 2px 2px #000;
     text-align: center;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
}

.quote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    padding: 0.5em 10px;
}

.bacajuga {
    padding-left: 15px;
}
/**
 * End Editor
 */

 /**
 * Dashboard
 */
#tabletanggal{
    margin-bottom: 0px;
}
#tabletanggal th{
    font-size: 16px;
}
#tabletanggal td{
    font-size: 15px;
}
/**
 * End Dashboard
 */
.minggu-ini {
    max-width: 0;
    padding-right: 15px;
    padding-left: 15px;
}
.minggu-ini-kanan {
    max-width:1%;
}
.minggu-ini-10 {
    max-width:45px;
    padding-right: 1px;
    padding-left: 15px;
}
.minggu-ini-10-kanan {
    max-width:1%;
}
.content {
    background: #fff;
    padding: 0 5px;
    color: #464647;
    margin: 0 0 10px;
}
.content .BreadcrumbList {
    margin-bottom: -.5rem
}
.content ul,li {
    text-align: left;
}
.content .alamat-url {
    font-size: x-small;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: -25px;
}
.content p {
    text-align: left;
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 21px;
    font-family: Heebo,sans-serif;
    display: block;
}
.content h1 {
    text-align: left;
    font-size: 150%;
    font-weight: 700;
    font-family: Heebo,sans-serif;
    line-height: 26px;
    color: #134d86;
    padding: 0;
    margin: 0;
}
.content h2 {
    text-align: left;
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Heebo,sans-serif;
}
.content h3 {
    text-align: left;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: Heebo,sans-serif;
}
.content h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.content img {
    width: 100%;
    height: auto;
}
