<div class="animated fadeIn">
    <div ng-controller="masterMigrasiCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Migrasi Data</strong>
            </div>
            <div class="card-body" align="center">
                <button type="submit" class="btn btn-primary btn-lg" button-spinner="loading" ng-disabled="loading" ng-click="migrasi()">
                    <i class="fa fa-paper-plane"></i>
                    &nbsp;Migrasi Data
                </button>
            </div>
        </div>
    </div>
</div>
