<div class="animated fadeIn">
    <div ng-controller="masterMenuCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Pengaturan Menu</strong>
            </div>
            <div ng-repeat="row in form.coba">{{row.judul}}</div>
            <div class="card-body" style="padding: 0px;">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-light" style="border:none; ;margin-bottom: 0px;">
                                <h2 style="padding-bottom: 20px;">Viral Minggu Ini</h2>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="col-form-label-sm mb-0px minggu-ini">1</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[0]" theme="bootstrap"  on-select="artkl($select.selected,0,form.artikel[0])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[0]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="col-form-label-sm mb-0px minggu-ini">2</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[1]" theme="bootstrap" on-select="artkl($select.selected,1,form.artikel[1])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[1]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="col-form-label-sm mb-0px minggu-ini">3</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[2]" theme="bootstrap" on-select="artkl($select.selected,2,form.artikel[2])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[2]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini col-form-label-sm mb-0px ">4</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[3]" theme="bootstrap" on-select="artkl($select.selected,3,form.artikel[3])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[3]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini col-form-label-sm mb-0px ">5</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[4]" theme="bootstrap" on-select="artkl($select.selected,4,form.artikel[4])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[4]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini col-form-label-sm mb-0px ">6</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[5]" theme="bootstrap" on-select="artkl($select.selected,5,form.artikel[5])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[5]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini col-form-label-sm mb-0px ">7</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[6]" theme="bootstrap" on-select="artkl($select.selected,6,form.artikel[6])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[6]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini col-form-label-sm mb-0px ">8</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[7]" theme="bootstrap" on-select="artkl($select.selected,7,form.artikel[7])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[7]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini col-form-label-sm mb-0px ">9</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[8]" theme="bootstrap" on-select="artkl($select.selected,8,form.artikel[8])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[8]);"></button>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 10px;">
                                    <label for="nama" class="minggu-ini-10 col-form-label-sm mb-0px ">10</label>
                                    <div class="col-sm-11">
                                        <ui-select ng-model="form.minggu_ini[9]" theme="bootstrap" on-select="artkl($select.selected,9,form.artikel[9])">
                                            <ui-select-match placeholder="Pilih Artikel">
                                                {{$select.selected.judul}}
                                            </ui-select-match>
                                            <ui-select-choices position="down" refresh="cariArtikel($select.search)" repeat="value in listArtikel | filter : $select.search">
                                                {{value.judul}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="minggu-ini-kanan" align="right">
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="trash(form.minggu_ini[9]);"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-light" style="border: none;margin-bottom: 0px;">
                                <h2 style="padding-bottom: 20px;">Keywords Hot</h2>
                                <div class="form-group row mb-0px" style="padding-bottom: 20px;">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[0].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[0].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[0].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[1].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[1].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[1].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[2].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[2].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[2].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 20px;">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[3].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[3].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[3].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[4].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[4].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[4].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[5].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[5].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[5].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 20px;">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[6].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[6].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[6].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[7].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[7].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[7].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[8].value" id="kanal"/>
                                            </div>
                                           <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[8].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[8].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0px" style="padding-bottom: 20px;">
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[9].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[9].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[9].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[10].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[10].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[10].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input type="text" class="form-control form-control-sm" ng-model="form.hot[11].value" id="kanal"/>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-check form-check-inline" style="padding-top: 5px;">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[11].is_hot" value="true">
                                                  <label class="form-check-label">
                                                    HOT
                                                  </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                  <input class="form-check-input" type="radio" ng-model="form.hot[11].is_hot" value="false">
                                                  <label class="form-check-label" for="Tidak Sedang Hot">
                                                    Tidak
                                                  </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
