<nav ng-if="pages.length >= 2">
  <ul class="pagination" style="margin: 0px;">
    <li><a ng-click="selectPage(1)">First</a>
    </li><li><a ng-click="selectPage(currentPage - 1)">&lt;</a>
    </li><li><a style="padding-bottom: 5px;padding-top: 5px;"><page-select></page-select> of {{numPages}}</a>
    </li><li><a ng-click="selectPage(currentPage + 1)">&gt;</a>
    </li><li><a ng-click="selectPage(numPages)">Last</a></li>
  </ul>
</nav>