<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <!-- <li class="nav-title" ng-if="user.akses.artikel_all || user.akses.artikel_editorial || user.akses.artikel_published || user.akses.artikel_revisi || user.akses.artikel_ditolak || user.akses.artikel_trash">Artikel</li>
            <li class="nav-item" ng-if="user.akses.artikel_all">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.all">
                    <i class="fa fa-files-o"></i>
                   Artikel
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_draf">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.draf">
                    <i class="fa fa-save"></i>
                    Draf
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_editorial">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.editorial">
                    <i class="fa fa-edit"></i>
                    Editorial
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_published">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.published">
                    <i class="fa fa-upload"></i>
                    Published
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_revisi">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.revisi">
                    <i class="fa fa-pencil-square"></i>
                    Revisi
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_ditolak">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.ditolak">
                    <i class="fa fa-times"></i>
                    Ditolak
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_trash">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.trash">
                    <i class="fa fa-trash"></i>
                    Trash
                </a>
            </li> -->
            <li class="nav-title" ng-if="user.akses.artikel_all || user.akses.artikel_editorial || user.akses.artikel_published || user.akses.artikel_revisi || user.akses.artikel_ditolak || user.akses.artikel_trash || user.akses.kategori_artikel || user.akses.testimoni || user.akses.gallery || user.akses.kategori_gallery || user.akses.download">Master</li>
            <li class="nav-item" ng-if="user.akses.kategori_artikel">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.kategori_artikel">
                    <i class="fa fa-list-ul"></i>
                    Kategori Artikel
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.artikel_all">
                <a class="nav-link" ui-sref-active="active" ui-sref="artikel.all">
                    <i class="fa fa-files-o"></i>
                   Artikel
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.kategori_gallery">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.kategori_gallery">
                    <i class="fa fa-camera-retro"></i>
                    Kategori Gallery
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.gallery">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.gallery">
                    <i class="fa fa-picture-o"></i>
                    Gallery
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.testimoni">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.testimoni">
                    <i class="fa fa-commenting-o"></i>
                    Testimoni
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.download">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.download">
                    <i class="fa fa-download"></i>
                    Download
                </a>
            </li>
            <li class="nav-title" ng-if="user.akses.pengguna_akses || user.akses.pengguna_user">Authentication</li>
            <li class="nav-item" ng-if="user.akses.pengguna_akses">
                <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.akses">
                    <i class="fa fa-address-card"></i>
                    Hak Akses
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.pengguna_user">
                <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.user">
                    <i class="fa fa-user-o"></i>
                    Pengguna
                </a>
            </li>
            <!-- <li class="nav-title" ng-if="user.akses.laporan_bulanan || user.akses.laporan_jumlahartikel">Laporan</li>
            <li class="nav-item" ng-if="user.akses.laporan_jumlahartikel">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.jumlahartikel">
                    <i class="fa fa-file-excel-o"></i>
                    Jumlah Artikel
                </a>
            </li>
            <li class="nav-item" ng-if="user.akses.laporan_bulanan">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.bulanan">
                    <i class="fa fa-file-excel-o"></i>
                    Artikel / Bulan
                </a>
            </li> -->
            <li class="nav-title" ng-if="user.akses.setting">Setting</li>
            <li class="nav-item" ng-if="user.akses.setting">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.setting">
                    <i class="fa fa-cogs"></i>
                    Website
                </a>
            </li>
        </ul>
    </nav>
</div>
