<div class="animated fadeIn">
    <div class="row" ng-controller="dashboardCtrl">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5>Artikel Terbaru</h5>
                            <table class="table table-striped table-hover">
                              <thead>
                                <tr>
                                  <th style="text-align:center">No.</th>
                                  <th style="text-align:left">Judul</th>
                                </tr>
                              </thead>
                              <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayedartikel">
                                  <td class="text-center">{{$index+1}}</td>
                                  <td>{{row.judul}}</td>
                                </tr>
                              </tbody>
                              <tbody ng-show="isLoading">
                                <tr>
                                  <td colspan="3" class="text-center">Loading ... </td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                  </div>
                </div>
            </div>
        	<!-- <div class="card">
        		<div class="card-body bg-primary" align="center" style="font-size: 18px;">
        			Hallo {{user.nama}}, Hari Ini Anda Sudah 
        			<span ng-if="user.status == 'Editor'">Mengedit</span>
        			<span ng-if="user.status == 'Penulis'">Menulis</span>
        			<button class="btn btn-light">{{artikel.hariini}} Artikel</button>
        		</div>
        	</div> -->
        </div>
        <!-- <div class="col-md-4">
        	<div class="card">
        		<div class="card-body">
        			<table class="table table-bordered table-striped" id="tabletanggal">
        				<tr>
        					<th class="text-center" colspan="2">Bulan Ini ({{bulanini}})</th>
        				</tr>
        				<tr>
        					<td>Artikel</td>
        					<td align="center">{{artikel.bulanini.artikel}}</td>
        					
        				</tr>
        				<tr>
        					<td>Viral</td>
        					<td align="center">{{artikel.bulanini.viral}}</td>
        					
        				</tr>
        				<tr>
        					<td>Jumlah</td>
        					<td align="center">{{artikel.bulanini.total}}</td>
        					
        				</tr>
        			</table>
        		</div>
        	</div>
        </div>
        <div class="col-md-4">
        	<div class="card">
        		<div class="card-body">
        			<table class="table table-bordered table-striped" id="tabletanggal">
        				<tr>
        					<th class="text-center" colspan="2">Bulan Lalu ({{bulanlalu}})</th>
        				</tr>
        				<tr>
        					<td>Artikel</td>
        					<td align="center">{{artikel.bulanlalu.artikel}}</td>
        					
        				</tr>
        				<tr>
        					<td>Viral</td>
        					<td align="center">{{artikel.bulanlalu.viral}}</td>
        					
        				</tr>
        				<tr>
        					<td>Jumlah</td>
        					<td align="center">{{artikel.bulanlalu.total}}</td>
        					
        				</tr>
        			</table>
        		</div>
        	</div>
        </div>
        <div class="col-md-4">
        	<div class="card">
        		<div class="card-body">
        			<table class="table table-bordered table-striped" id="tabletanggal">
        				<tr>
        					<th class="text-center" colspan="2">Selama Ini</th>
        				</tr>
        				<tr>
        					<td>Artikel</td>
        					<td align="center">{{artikel.selamaini.artikel}}</td>
        					
        				</tr>
        				<tr>
        					<td>Viral</td>
        					<td align="center">{{artikel.selamaini.viral}}</td>
        					
        				</tr>
        				<tr>
        					<td>Jumlah</td>
        					<td align="center">{{artikel.selamaini.total}}</td>
        					
        				</tr>
        			</table>
        		</div>
        	</div>
        </div>
        <div class="col-md-12">
        	<div class="card">
        		<div class="card-header">
        			<h4 style="font-size: 16px;">Mohon dibaca ya...</h4>
        		</div>
        		<div class="card-body">
        			<div class="row">
		        		<div class="col-md-6">
		        			 <a href="https://docs.google.com/document/d/1Hayb1EauD38v28GKZBoumWVjMlCWYIACy8TWwYoMvq4/edit" target="_blank">
                                <div class="media">
                                    <div class="media-left">
                                        <img class="media-object" src="https://media.beritagar.id/2015-09/4_55_1180_795_d57035953d058048c5d376a9375f3dbafb7b8638.jpg" alt="" width="90" style="width: 200px;">
                                    </div>
                                    <div class="media-body">
                                        <p style="margin-left: 10px;font-size: 16px;">Tata Cara & Kaidah Penulisan</p>
                                    </div>
                                </div>
                            </a>
                            <hr style="margin: 0px;">
		        		</div>
		        	</div>
        		</div>
        	</div>
        </div> -->
    </div>
</div>
