<div ng-controller="loginCtrl">
    <!-- <div class="app"> -->
    <div class="app flex-row align-items-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="card-group">
                        <div class="card p-4">
                            <div class="card-body">
                                <form name="form">
                                    <img src="img/logo-white.png" style="width: 100%;margin-bottom: 1rem!important;"/>
                                    
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fa fa-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="text" class="form-control" ng-model="form.email" placeholder="Email"/>
                                    </div>
                                    <div class="input-group mb-4">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        <input type="password" class="form-control" ng-model="form.password" placeholder="Password"/>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <button style="color: #fff;" type="submit" class="btn btn-danger btn-block" ng-click="login(form)">Login</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
