<div class="animated fadeIn">
    <div ng-controller="laporanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ml-2 mr-2">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm mb-0 required">Periode</label>
                                    <div class="col-sm-4">
                                        <select class="form-control form-control-sm" ng-model="filter.bulan">
                                            <option value="">Pilih Bulan</option>
                                            <option value="0">Januari</option>
                                            <option value="1">Febuari</option>
                                            <option value="2">Maret</option>
                                            <option value="3">April</option>
                                            <option value="4">Mei</option>
                                            <option value="5">Juni</option>
                                            <option value="6">Juli</option>
                                            <option value="7">Agustus</option>
                                            <option value="8">September</option>
                                            <option value="9">October</option>
                                            <option value="10">November</option>
                                            <option value="11">Desember</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <select class="form-control form-control-sm"  ng-model="filter.tahun">
                                          <option  value="">Pilih Tahun</option>
                                          <option  ng-repeat="(key, value) in tahun" value="{{ value }}">
                                            {{ value }}
                                          </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm mb-0">Nama</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nama" class="form-control form-control-sm" ng-model="filter.nama" placeholder="Cari berdasarkan Nama">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center mb-0">
                            <hr>
                            <div class="btn-group" role="group">
                                <button class="btn btn-light btn-sm" ng-click="reset_filter_bulanan();">
                                    <i class="fa fa-refresh"></i>
                                    Reset Filter
                                </button>
                                <button class="btn btn-primary btn-sm" ng-click="view_bulanan(filter);">
                                    <i class="fa fa-search"></i>
                                    Tampilkan
                                </button>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="is_view">
                        <h2 align="center">Laporan Bulanan</h2>
                        <h5 align="center">Periode : {{periode}}</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered text-center" style="margin: 0px;">
                                <thead style="background: linear-gradient(to right, #134c85 0, #2980b9 100%); color: #fff;">
                                    <tr>
                                        <th rowspan="2" style="vertical-align: middle;">Penulis</th>
                                        <th colspan="{{totalHari}}">Artikel</th>
                                    </tr>
                                    <tr>
                                        <th ng-repeat="val in hari" style="width: 30px">{{val}}</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                    <tr ng-repeat="row in displayed">
                                        <td align="left"><b>{{ row.nama }}</b></td>
                                        <td ng-repeat="val in row.detail">{{val.jumlah}}</td>
                                        <td><b>{{ row.total }}</b></td>
                                    </tr>
                                </tbody>
                                <tfoot ng-show="!isLoading" style="background: linear-gradient(to right, #134c85 0, #2980b9 100%); color: #fff;">
                                    <tr>
                                        <td>Total</td>
                                        <td ng-repeat="val in totalbawah">{{val.jumlah}}</td>
                                        <td>{{keseluruhan}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
