<div class="animated fadeIn">
    <div ng-controller="laporanCtrl">
        <div class="card" st-pipe="callServer" st-table="displayed">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row ml-2 mr-2">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm mb-0 required">Periode</label>
                                    <div class="col-sm-8">
                                        <input class="form-control form-control-sm ng-pristine ng-valid ng-isolate-scope ng-not-empty ng-touched" date-range-picker="" options="dateRangeOptions" ng-model="filter.tanggal" placeholder="Periode" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label-sm mb-0">Nama</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="nama" class="form-control form-control-sm" ng-model="filter.nama" placeholder="Cari berdasarkan Nama">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-center mb-0">
                            <hr>
                            <div class="btn-group" role="group">
                                <button class="btn btn-light btn-sm" ng-click="reset_filter();">
                                    <i class="fa fa-refresh"></i>
                                    Reset Filter
                                </button>
                                <button class="btn btn-primary btn-sm" ng-click="view(filter);">
                                    <i class="fa fa-search"></i>
                                    Tampilkan
                                </button>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-md-12" ng-if="is_view">
                        <h2 align="center">Laporan Jumlah artikel</h2>
                        <h5 align="center">Periode : {{periode.awal | date}} - {{periode.akhir | date}}</h5>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered text-center" style="margin: 0px;" ng-show="!isLoading">
                                <thead style="background: linear-gradient(to right, #134c85 0, #2980b9 100%); color: #fff;">
                                    <tr>
                                        <th rowspan="2" style="vertical-align: middle;">Penulis</th>
                                        <th colspan="3">Artikel</th>
                                    </tr>
                                    <tr>
                                        <th style="width: 150px">Published</th>
                                        <th style="width: 150px">Viral</th>
                                        <th style="width: 150px">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in displayed">
                                        <td align="left"><b>{{ row.nama }}</b></td>
                                        <td>{{ row.publish }}</td>
                                        <td>{{ row.viral }}</td>
                                        <td><b>{{ row.total }}</b></td>
                                    </tr>
                                </tbody>
                                <tfoot style="background: linear-gradient(to right, #134c85 0, #2980b9 100%); color: #fff;">
                                    <tr>
                                        <td><b>Total</b></td>
                                        <td>{{total.publish}}</td>
                                        <td>{{total.viral}}</td>
                                        <td><b>{{total.all}}</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
