<div ng-controller="galeriCtrl">
    <div class="title-head">
        <!-- <h1>Data Master - Kategori</h1> -->
    </div>
    <div class="">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                        <button class="btn btn-default btn-xs" ng-init="isCollapsed = true"
                                ng-click="isCollapsed = !isCollapsed"><i class="fa fa-search"></i>&nbsp;Pencarian
                        </button>
                        <div class="btn-group pull-right" role="group">
                            <!-- <button type="button" class="btn btn-success" ng-click="generate();"><i class="fa fa-refresh"></i>&nbsp;Update Menu</button> -->
                            <button type="button" class="btn btn-primary" ng-click="create();"><i
                                    class="fa fa-plus"></i>&nbsp;Tambah Data
                            </button>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="!isCollapsed">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Judul</label>
                                        <div class="col-sm-8">
                                            <input st-search="judul" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Kategori Galeri</label>
                                        <div class="col-sm-8">
                                            <select class="form-control" st-search="kategori_id" stinputevent="change">
                                                <option value="">
                                                    - Semua Kategori -
                                                </option>
                                                <option ng-repeat="val in listKategori" value="{{val.id}}">
                                                    {{val.nama}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <!-- <th style="text-align:left">No.</th> -->
                                <th style="text-align:left">Judul</th>
                                <th style="text-align:left">Nama Kategori</th>
                                <!--<th>Tipe</th>-->
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                <!-- <td style="text-align:left">{{$index+1}}</td> -->
                                <td style="text-align:left">{{row.judul}}</td>
                                <td style="text-align:left">{{row.nama_kategori}}</td>

                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        <button type="button" class="btn btn-info fa fa-pencil"
                                                ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash"
                                                ng-click="delete(row);"></button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                            <tr>
                                <td colspan="3" class="text-center">Loading ...</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5>
                            {{formtitle}}
                        </h5>
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 control-label">Kategori Galeri</label>
                                            <div class="col-sm-9">
                                                <ui-select ng-model="form.galeri_kategori_id" theme="bootstrap">
                                                    <ui-select-match placeholder="Pilih Kategori">
                                                        {{$select.selected.nama}}
                                                    </ui-select-match>
                                                    <ui-select-choices
                                                            repeat="val in listKategori | filter : $select.search">
                                                        {{val.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" ng-if="form.galeri_kategori_id.id == 1">
                                            <label class="col-sm-3 control-label">Device</label>
                                            <div class="col-sm-9">
                                                <div class="btn-group">
                                                    <label class="btn btn-primary" ng-model="form.device"
                                                           ng-disabled="is_view" uib-btn-radio="'desktop'">
                                                        <i class="fa fa-check" ng-if="form.device == 'desktop'"></i> Desktop
                                                    </label>
                                                    <label class="btn btn-primary" ng-model="form.device"
                                                           ng-disabled="is_view" uib-btn-radio="'mobile'">
                                                        <i class="fa fa-check " ng-if="form.device == 'mobile'"></i>
                                                        Mobile
                                                    </label>
                                                </div>
                                                <span ng-if="form.device == 'desktop'" class="badge badge-primary"><h6 style="margin: 0;">Ukuran 1349 x 498</h6></span>
                                                <span ng-if="form.device == 'mobile'" class="badge badge-primary"><h6 style="margin: 0;">Ukuran 360 x 400</h6></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 control-label">Judul Galeri</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" ng-model="form.judul" ng-disabled="is_view">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-3 control-label">Deskripsi</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" cols="50" ng-disabled="is_view" ng-model="form.deskripsi" rows="6"> </textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-sm-4"></label>
                                            <div class="col-sm-6">
                                                <div style="overflow: hidden;background-color: rgba(0, 0, 0, 0.23); width : 100%;">
                                                    <img class="img img-responsive img-produk img-thumbnail"
                                                         data-ng-src="data:image/png;base64,{{form.file_foto.base64}}"
                                                         id="img" ng-if="!!form.file_foto.base64"/>
                                                    <img class="img img-responsive img-produk img-thumbnail" id="img"
                                                         ng-if="!form.file_foto.base64 && form.img"
                                                         ng-src="img/gambar_galeri/{{form.img}}"/>
                                                    <img class="img img-responsive img-produk img-thumbnail" id="img"
                                                         ng-if="!form.file_foto.base64 && !form.img"
                                                         ng-src="img/no-image.jpg"/>
                                                    <button type="button" ng-if="form.img"
                                                            class="btn btn-danger fa fa-trash-o hapus-file"
                                                            ng-click="hapus_gambar(form)"></button>
                                                </div>
                                                <div class="fileUploadr btn btn-primary edit" ng-if="!is_view" style="width: 100%;" onclick="$('#galeri').click();">
                                                    <span>
                                                      <i class="fa fa-camera">
                                                      </i>
                                                      <b>
                                                        Gambar Galeri
                                                      </b>
                                                    </span><br>
                                                </div>
                                                <input id="galeri" accept="image/*" base-sixty-four-input="" class="upload" ng-model="form.file_foto" style="width: 100%;opacity: 0;" type="file"/>
                                            </div>
                                            <!-- <button type="button" ng-click="removeGambar()"> hapus</button> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div align="center">
                                    <button type="submit" class="btn btn-default" ng-click="cancel()"><i
                                            class="fa fa-arrow-left"></i>&nbsp;Back
                                    </button>
                                    <button type="submit" class="btn btn-primary" ng-hide="is_view"
                                            ng-disabled="landaform.$invalid" ng-click="save(form)"><i
                                            class="fa fa-save"></i>&nbsp;Simpan Perubahan
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
