@font-face {font-family: NotoSans-Regular;src: url(../fonts/notosans/NotoSans-Regular.woff)}@font-face {font-family: NotoSans-Bold;src: url(../fonts/notosans/NotoSans-Bold.woff)}@font-face {font-family: NotoSans-Condensed;src: url(../fonts/notosans/NotoSans-Condensed.woff)}