<div class="animated fadeIn">
    <div ng-controller="{{ ctrl }}Ctrl">
        <div class="card" st-pipe="callServer" st-table="displayed" ng-if="!is_edit">
            <div class="card-header">
                <strong class="d-md-down-none">Daftar {{ ctrl }}</strong>
                <div class="btn-group pull-right mt-5px" role="group">
                    <button class="btn btn-secondary btn-sm" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
                        <i class="fa fa-search"></i>
                        &nbsp;Pencarian
                    </button>
                    <button class="btn btn-primary btn-sm" ng-click="create();">
                        <i class="fa fa-plus"></i>
                        &nbsp;Buat Baru
                    </button>
                </div>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px" ng-show="!isCollapsed">
                        <div class="col-md-12">
                            <div class="alert alert-secondary">
                                <form name="landaform" novalidate="">
                                    <div class="form-group row mb-0">
                                        {% for key, val in field|slice(0,4) %}
                                        <label class="col-sm-1 col-form-label-sm mb-0">{{ val.nama }}</label>
                                        <div class="col-sm-2">
                                            <input st-search="{{ val.Field }}" class="form-control form-control-sm" placeholder="Cari berdasarkan {{ val.nama }}"/>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <tr>
                                    {% for key, val in field|slice(0,4) %}
                                    <th class="align-left">{{ val.nama }}</th>
                                    {% endfor %}
                                    <th></th>
                                </tr>
                            </tr>
                        </thead>
                        <tbody ng-show="!isLoading">
                            <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                {% for key, val in field|slice(0,4) %}
                                <td class="align-left">{{ val.showField }}</td>
                                {% endfor %}
                                <td>
                                    <div class="btn-group pull-right" role="group">
                                        {% if is_deleted %}
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-if="row.is_deleted == 0" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-if="row.is_deleted == 0" ng-click="trash(row);"></button>
                                        <button type="button" class="btn btn-warning fa fa-refresh" ng-if="row.is_deleted == 1" ng-click="restore(row);"></button>
                                        {% endif %}
                                        {% if is_deleted == false %}
                                        <button type="button" class="btn btn-info fa fa-pencil" ng-click="update(row)"></button>
                                        <button type="button" class="btn btn-danger fa fa-trash" ng-click="delete(row)"></button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></div>
            </div>
        </div>
        <div class="card" ng-if="is_edit">
            <div class="card-header">
                <strong>
                    {% set judul = "{{formtittle}}" %}
                    {{ judul }}
                </strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12">
                            {% for key, val in field %}
                            {% if val.Key != 'PRI' %}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label-sm">{{ val.nama }}</label>
                                <div class="col-sm-9">
                                    {% if val.Type == 'date' %}
                                    <input type="text" class="form-control form-control-sm" ng-click="toggle($event, '{{ val.Field }}')"  is-open="opened.{{ val.Field }}" uib-datepicker-popup="dd-MM-yyyy" ng-model="form.{{ val.Field }}" ng-disabled="is_view"/>
                                    {% else %}
                                    <input type="text" class="form-control form-control-sm" ng-model="form.{{ val.Field }}" maxlength="{{val.maks}}" ng-disabled="is_view"/>
                                    {% endif %}
                                </div>
                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if listFieldDet|length > 0 %}
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="tittle-header" style="margin-bottom: 0px;">Detail</h6>
                        </div>
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <tr>
                                            {% for key, val in listFieldDet %}
                                            {% if val.Key != 'PRI' and val.Field != fieldRelasi %}
                                            <th class="align-left">{{val.Field}}</th>
                                            {% endif %}
                                            {% endfor %}
                                            <th class="align-center" style="width: 10px;">
                                                <button type="button" class="btn btn-success fa fa-plus" ng-click="addDetail(listDetail)" ng-disabled="is_view"></button>
                                            </th>
                                        </tr>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="v in listDetail">
                                        {% for key, val in listFieldDet %}
                                        {% if val.Key != 'PRI' and val.Field != fieldRelasi %}
                                        <td class="align-left">
                                            <input type="text" class="form-control form-control-sm" maxlength="{{val.maks}}" ng-model="v.{{val.Field}}" ng-disabled="is_view"/>
                                        </td>
                                        {% endif %}
                                        {% endfor %}
                                        <td class="align-center">
                                            <button type="button" class="btn btn-danger fa fa-minus" ng-click="removeDetail(listDetail, $index)" ng-disabled="is_view"></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-secondary btn-sm" ng-click="cancel()">
                        <i class="fa fa-arrow-left"></i>
                        &nbsp;Kembali
                    </button>
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek   <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
