<div ng-controller="kategoriArtikelCtrl">
    <div class="title-head">
        <!-- <h1>Data Master - Kategori Artikel</h1> -->
    </div>
    <div class="">
        <div class="panel panel-default">
            <div class="wrapper-sm" ng-show="!is_edit">
                <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
                    <div class="panel-heading">
                      <button class="btn btn-default btn-xs" ng-init="isCollapsed = true"
                              ng-click="isCollapsed = !isCollapsed"><i class="fa fa-search"></i>&nbsp;Pencarian
                      </button>
                        <div class="btn-group pull-right" role="group">
                            <button type="button" class="btn btn-primary" ng-click="create();"><i class="fa fa-plus"></i>&nbsp;Tambah Data</button>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="!isCollapsed">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Nama</label>
                                <div class="col-sm-3">
                                    <input st-search="nama" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover" >
                            <thead>
                                <tr>
                                    <th style="text-align:left">Nama</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody ng-show="!isLoading">
                                <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                    <td style="text-align:left">{{row.nama}}</td>
                                    <td>
                                        <div class="btn-group pull-right" role="group" ng-if="row.id != 1 && row.id != 2">
                                            <button type="button" class="btn btn-info fa fa-pencil" ng-click="update(row)"></button>
                                            <button type="button" class="btn btn-danger fa fa-trash" ng-click="delete(row);"></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody ng-show="isLoading">
                                <tr>
                                    <td colspan="3" class="text-center">Loading ... </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="3" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/common/pagination.custom.html"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <!--FORM-->

            <div class="wrapper-sm" ng-show="is_edit">
                <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 >
                      {{formtitle}}
                      </h5>
                    </div>
                    <div class="panel-body">
                        <form name="landaform" class="form-horizontal form-validation">
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-6 col-sm-12">

                                    <div class="form-group">
                                        <label class="col-sm-4 control-label">Nama Kategori Artikel</label>
                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" style="margin-top: 20px;">
                                <div align="center">
                                    <button type="submit" class="btn btn-default" ng-click="cancel()"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                                    <button type="submit" class="btn btn-primary" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form)"><i class="fa fa-save"></i>&nbsp;Simpan Perubahan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
