
<div class="row">
  <div class="col-md-6">
    <!-- <span class="font-weight-bold">Profil</span>
    <hr/> -->
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Title</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.seo_title" ng-disabled="is_view" placeholder="Title"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Author</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.seo_author" ng-disabled="is_view"  placeholder="Author"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Publisher</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.seo_publisher" ng-disabled="is_view"  placeholder="Publisher"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Copyright</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.seo_copyright" ng-disabled="is_view"  placeholder="Copyright"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm required">Keyword</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" ng-model="form.seo_keyword" ng-disabled="is_view" placeholder="Keyword" rows="4"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm">Description</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" ng-model="form.seo_deskripsi" ng-disabled="is_view" placeholder="Deskripsi" rows="4"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm">Robots</label>
        <div class="col-sm-9">
            <textarea class="form-control form-control-sm" ng-model="form.seo_robots" ng-disabled="is_view" placeholder="Contoh: index, follow" rows="4"/>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label-sm">App Name</label>
        <div class="col-sm-9">
            <input type="text" class="form-control form-control-sm" ng-model="form.seo_app_name" ng-disabled="is_view" placeholder="Nama Aplikasi"/>
        </div>
    </div>

  </div>
  <div class="col-md-6">
    <!-- <span class="font-weight-bold">Sosial Media</span>
    <hr/> -->

    <div class="form-group text-center">
      <label class="col-sm-12 col-form-label-sm">Site Image</label>
      <div class="col-sm-12">
        <input accept="application/pdf,image/x-png,image/gif,image/jpeg" base-sixty-four-input=""
        class="form-control form-control-sm" ng-model="form.seo_image" type="file" ng-disabled="is_view"/>
        <img src="./img/{{form.seo_image_link}}" class="img-thumbnail" style="max-height:400px;width:100%">
        <!-- <input type="text" class="form-control form-control-sm" ng-model="form.seo_image" ng-disabled="is_view" placeholder=""/> -->
      </div>
    </div>
  </div>

</div>
