<div class="animated fadeIn">
    <div ng-controller="settingCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Setting</strong>
            </div>
            <div class="card-body">
                <form name="landaform" novalidate="">
                    <div class="row">
                        <div class="col-md-12 p-0px">
                            <uib-tabset active="activeForm">
                                <uib-tab heading="Profil" index="0">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">Profil</span>
                                            <hr/>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm required">No. Telp</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.no_telepon" maxlength="50" ng-disabled="is_view" placeholder="No Telp" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm required">Email</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.email" maxlength="200" ng-disabled="is_view" placeholder="Email" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm required">Alamat</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control form-control-sm" ng-model="form.alamat" ng-disabled="is_view" placeholder="Alamat" rows="4" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm required">Konten Pesan</label>
                                                <div class="col-sm-9">
                                                    <textarea class="form-control form-control-sm" ng-model="form.pesan" ng-disabled="is_view" placeholder="Isi konten pesan" rows="4" />
                                                    <span>* Ketikan {nama} apabila untuk nama pengunjung <br> *{pesan} untuk isi pesan pengunjung</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="font-weight-bold">Sosial Media</span>
                                            <hr/>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm">Facebook</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.facebook" ng-disabled="is_view" placeholder="URL Facebook" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm">Instagram</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.instagram" ng-disabled="is_view" placeholder="URL Instagram" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm">WhatsApp</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.whatsapp" ng-disabled="is_view" placeholder="Masukkan Tanpa Spasi dan -" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm">You Tube</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.youtube" ng-disabled="is_view" placeholder="URL You Tube" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label-sm">Whatsapp Link</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control form-control-sm" ng-model="form.whatsapplink" ng-disabled="is_view" placeholder="URL CBT Masterprima" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary btn-sm" ng-hide="is_view" button-spinner="loading" ng-disabled="cek   <= 3 || loading" ng-click="save(form)">
                        <i class="fa fa-save"></i>
                        &nbsp;Simpan
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>