<!-- Footer Section -->
<footer class="footer-two" id="kontak-kami">
    <div class="footer-top main-bg">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-4 col-md-5" style="padding-right: 25px;">
                    <h6 class="text-white">
                        Head Office
                    </h6>
                    <p class="font-noto-regular" style="color: #fff;font-size: 12px;line-height: 20px;">
                        <span>
                            <i aria-hidden="true" class="fa fa-map-marker" style="color: #dd1f2e;">
                            </i>
                            Jl. Outer Ring Road Rukan Sedayu Square Blok G No. 08 RT. 006 RW. 012 Cengkareng Barat Jakarta 11730
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-5" style="padding-right: 25px;">
                    <h6 class="text-white">
                        Surabaya Office
                    </h6>
                    <p class="font-noto-regular" style="color: #fff;font-size: 12px;line-height: 20px;">
                        <span>
                            <i aria-hidden="true" class="fa fa-map-marker" style="color: #dd1f2e;">
                            </i>
                            Perumahan Rewwin Jl. Merak VI No. 125 Wedoro Sidoarjo, Indonesia
                        </span>
                    </p>
                </div>
                <div class="col-lg-4 col-md-5" style="padding-right: 25px;">
                    <h6 class="text-white">
                        Malang Work Office
                    </h6>
                    <p class="font-noto-regular" style="color: #fff;font-size: 12px;line-height: 20px;">
                        <span>
                            <i aria-hidden="true" class="fa fa-map-marker" style="color: #dd1f2e;">
                            </i>
                            Perumahan Griya Permata Alam Blok KQ-17, Karangploso Malang, Indonesia
                        </span>
                    </p>
                </div>
            </div>
            {% for key, val in sosmed %}
            <a class="font-noto-bold" href="{{val.whatsapplink}}" style="color:white;font-size:20px" target="_blank" title="linkfooter">
                <button class="btn btn-primary btn-xl text-uppercase" id="contactme">
                    <i aria-hidden="true" class="fab fa-whatsapp" style="font-size: 20px;padding-top: 3px">
                    </i>
                    {{val.whatsapp}}
                </button>
            </a>
            {% endfor %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="footer-copyright text-center iq-fw-3 font-noto-regular">
                        <h6 style="font-weight: normal;font-size: 14px;color: #fff;">
                            ©Copyrights 2019 Property ID
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bottom-wave wave-animation">
  <div class="main-wave waveone">
    <div class="wave-effect wave-top"></div>
</div>
<div class="main-wave wavetwo">
    <div class="wave-effect wave-middle"></div>
</div>
<div class="main-wave wavethree">
    <div class="wave-effect wave-bottom"></div>
</div> -->
</footer>
