<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ titletab }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- SEO META -->
    <!-- For Google -->
    <meta name="description" content="Property.id adalah internet marketing agency di Indonesia yang berkomitmen untuk membantu mengembangkan bisnis properti Anda dengan strategi digital marketing paling efektif dan efisien.">

    <meta name="author" content="{{titletab}}">
    <meta name="keywords" content="properti id, properti.id, properti malang, agen properti malang,jasa pemasaran properti, property id, property indonesia, property id malang, property malang raya, property arema, apartemen malang, apartemen malang raya, Property for Sale in Malang, Properti dijual di Malang, Malang Property, Temukan properti idaman Anda, Kota Malang, Malang Property, Property ID Malang, Property id malang kota, malang raya, ngijo karangploso, ngijo, indonesia.">
    <link rel="canonical" href="http://property.id/">
    <link rel="publisher" href="http://property.id/">
    <meta name="robots" content="index, follow" />
    <meta name="application-name" content="PROPERTY ID - BOOST YOUR SALES PERFORMANCE" />

    <!-- For Facebook -->
    <meta property="og:title" content="{{ titletab }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="http://property.id/app/img/logo-white.png" />
    <meta property="og:url" content="http://property.id/" />
    <meta property="og:description" content="Property.id adalah internet marketing agency di Indonesia yang berkomitmen untuk membantu mengembangkan bisnis properti Anda dengan strategi digital marketing paling efektif dan efisien." />

    <!-- End Of SEO META -->

    <!-- Favicons -->
    <link rel="shortcut icon" href="{{ baseUrl }}/assets/property/logo/logo-icon.png">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/typography.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/style.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/myfonts.css">
    <link rel="stylesheet" href="{{ baseUrl }}/assets/css/responsive.css">
</head>
<body>
    

    {% block content %}{% endblock %}
    <script src="{{ baseUrl }}/assets/js/jquery-min.js"></script>
    <script src="{{ baseUrl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/mega_menu.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/timeline.js"></script>
    <script src="{{ baseUrl }}/assets/js/wow.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/countdown.js"></script>
    <script src="{{ baseUrl }}/assets/js/jquery.counterup.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/isotope.pkgd.min.js"></script>
    <script src="{{ baseUrl }}/assets/revslider/js/jquery.themepunch.tools.min.js"></script>
    <script src="{{ baseUrl }}/assets/revslider/js/jquery.themepunch.revolution.min.js"></script>
    <script src="{{ baseUrl }}/assets/revslider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="{{ baseUrl }}/assets/revslider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="{{ baseUrl }}/assets/revslider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="{{ baseUrl }}/assets/js/custom.js"></script>
    <script>
        var revapi12,
        tpj=jQuery;
        tpj(document).ready(function() {
            if(tpj("#rev_slider_12_1").revolution == undefined){
                revslider_showDoubleJqueryError("#rev_slider_12_1");
            }else{
                revapi12 = tpj("#rev_slider_12_1").show().revolution({
                    sliderType:"standard",
                    jsFileLocation:"//localhost/revslider-standalone/revslider-standalone/revslider/public/revslider/assets/js",
                    sliderLayout:"fullwidth",
                    dottedOverlay:"none",
                    delay:9000,
                    navigation: {
                        onHoverStop:"off",
                    },
                    visibilityLevels:[1240,1024,778,480],
                    gridwidth:1400,
                    gridheight:868,
                    lazyType:"none",
                    parallax: {
                        type:"mouse",
                        origo:"enterpoint",
                        speed:400,
                        levels:[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,55],
                    },
                    shadow:0,
                    spinner:"spinner0",
                    stopLoop:"off",
                    stopAfterLoops:-1,
                    stopAtSlide:-1,
                    shuffle:"off",
                    autoHeight:"off",
                    disableProgressBar:"on",
                    hideThumbsOnMobile:"off",
                    hideSliderAtLimit:0,
                    hideCaptionAtLimit:0,
                    hideAllCaptionAtLilmit:0,
                    debugMode:false,
                    fallbacks: {
                        simplifyAll:"off",
                        nextSlideOnWindowFocus:"off",
                        disableFocusListener:false,
                    }
                });
            }
        });   /*ready*/
    </script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
          let lazyImages = [].slice.call(document.querySelectorAll("img.lazy"));
          let active = false;

          const lazyLoad = function() {
            if (active === false) {
              active = true;

              setTimeout(function() {
                lazyImages.forEach(function(lazyImage) {
                  if ((lazyImage.getBoundingClientRect().top <= window.innerHeight && lazyImage.getBoundingClientRect().bottom >= 0) && getComputedStyle(lazyImage).display !== "none") {
                    lazyImage.src = lazyImage.dataset.src;
                    lazyImage.srcset = lazyImage.dataset.srcset;
                    lazyImage.classList.remove("lazy");

                    lazyImages = lazyImages.filter(function(image) {
                      return image !== lazyImage;
                    });

                    if (lazyImages.length === 0) {
                      document.removeEventListener("scroll", lazyLoad);
                      window.removeEventListener("resize", lazyLoad);
                      window.removeEventListener("orientationchange", lazyLoad);
                    }
                  }
                });

                active = false;
              }, 200);
            }
          };

          document.addEventListener("scroll", lazyLoad);
          window.addEventListener("resize", lazyLoad);
          window.addEventListener("orientationchange", lazyLoad);
        });
    </script>
    <script>
        $(".clickablea").click(function(e) {
            $(".clickablea").addClass("aktifmenu");
            $(".clickableb").removeClass("aktifmenu");
            $(".clickablec").removeClass("aktifmenu");
            $(".clickabled").removeClass("aktifmenu");
            $(".clickablee").removeClass("aktifmenu");
        });
        $(".clickableb").click(function(e) {
            $(".clickablea").removeClass("aktifmenu");
            $(".clickableb").addClass("aktifmenu");
            $(".clickablec").removeClass("aktifmenu");
            $(".clickabled").removeClass("aktifmenu");
            $(".clickablee").removeClass("aktifmenu");
        });
        $(".clickablec").click(function(e) {
            $(".clickablea").removeClass("aktifmenu");
            $(".clickableb").removeClass("aktifmenu");
            $(".clickablec").addClass("aktifmenu");
            $(".clickabled").removeClass("aktifmenu");
            $(".clickablee").removeClass("aktifmenu");
        });
        $(".clickabled").click(function(e) {
            $(".clickablea").removeClass("aktifmenu");
            $(".clickableb").removeClass("aktifmenu");
            $(".clickablec").removeClass("aktifmenu");
            $(".clickabled").addClass("aktifmenu");
            $(".clickablee").removeClass("aktifmenu");
        });
        $(".clickablee").click(function(e) {
            $(".clickablea").removeClass("aktifmenu");
            $(".clickableb").removeClass("aktifmenu");
            $(".clickablec").removeClass("aktifmenu");
            $(".clickabled").removeClass("aktifmenu");
            $(".clickablee").addClass("aktifmenu");
        });
    </script>
</body>
</html>