<header id="main-header" class="header-two">
    <div class="header-top-bar">
        <div class="container">
            {% for key, val in sosmed %}
            <div class="row no-gutters">
                <div class="col-auto mr-auto">
                    <ul>
                        <li><a href="{{baseUrl}}/" title="linkmenu" style="font-family: 'NotoSans-Regular', sans-serif;"><i class="fas fa-envelope mr-1"></i><span><span >{{val.email}}</span></span></a></li>
                    </ul>
                </div>
                <div class="col-auto">
                    <div class="social-bar">
                        <ul>
                            <li><a href="{{val.facebook}}" title="linkmenu"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{val.instagram}}" title="linkmenu"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="{{val.whatsapplink}}" title="linkmenu"><i class="fab fa-whatsapp"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <nav id="menu-1" class="mega-menu" data-color="">
        <div class="menu-list-items">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="menu-logo">
                            <li>
                                <a href="{{baseUrl}}/" title="linkmenu">
                                    <img src="{{ baseUrl }}/assets/property/logo/logo-kedua.png" alt="logo" class="img-fluid" title="imagemenu">
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-links pull-right" style="float: right;padding-left: 15px;">
                            <li>
                                <a href="#home" title="linkmenu" class="clickablea aktifmenu">Home</a>
                            </li>
                            <li>
                                <a href="#layanan" title="linkmenu" class="clickableb">Layanan</a>
                            </li>
                            <li>
                                <a href="#profil" title="linkmenu" class="clickablec">Profil</a>
                            </li>
                            <li>
                                <a href="#portofolio" title="linkmenu" class="clickabled">Portfolio</a>
                            </li>
                            <li>
                                <a href="#kontak-kami" title="linkmenu" class="clickablee">Kontak Kami</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <section class="iq-solutions mainheader" id="home">
        <div class="container" style="height:600px;">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6 col-6 main-header-paragraf">
                    <h2 class="h2-mainheader" style="color: #fff;">Kualitas Tim<br>Sangat Profesional.</h2>
                    <p class="p-mainheader font-noto-regular">Berikut ini merupakan beberapa masalah yang sering dihadapi oleh client kami dalam mengembangkan usaha</p>
                </div>
                <div class="col-lg-7 col-md-6 col-sm-6 col-6 main-header-image" style="padding-bottom: 0px;">
                    <img title="imagehome" data-srcset="{{ baseUrl }}/assets/property/ilustrasi/5.png" class="lazy img-fluid" alt="image" style="bottom: 0px !important;">
                </div>
            </div>
        </div>
    </section>
    </header