<form name="landaform" novalidate="">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <div class="card-body" id="editor" style="min-height: 450px;">
                    <div>
                        <!-- JUDUL -->
                        <h2 class="judul" contenteditable="true" placeholder="Tulis Judul Disini..." ng-model="form.judul" ng-change="striptags(form.judul);" style="border-bottom: 1px solid #000;"></h2>

                        <!-- CONTENT -->
                        <div  style="margin-top: 1rem;margin-bottom: 1rem;">
                            <textarea ckeditor="editorOptions" ng-model="form.isi_content" ng-disabled="is_view"></textarea>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-md-3">
            <div class="panel" style="display: block; position: fixed; border-radius: 5px;padding-top: 0px; padding-bottom: 0px;width: 19%;">
                <div class="panel-body">
                    <div class="kanan">
                        alias :
                        <textarea class="form-control form-control-sm" rows="3" ng-model="form.alias" ng-change="UrlParse(form.alias)"></textarea>
                    </div>
                    <div class="kanan">
                        Kota :
                        <input type="text" class="form-control form-control-sm" rows="3" ng-model="form.kota"></input>
                    </div>
                    <div class="kanan">
                        Tanggal Kontrak :
                        <input class="form-control form-control-sm" is-open="opened.tgl_kontrak" ng-click="toggle($event, 'tgl_kontrak')" ng-disabled="is_view" ng-model="form.tgl_kontrak" type="text" uib-datepicker-popup="dd-MM-yyyy" style="height: 30px" />
                    </div>
                    <div class="kanan">
                        Publish :
                        <div class="row">
                            <div class="col-md-6" style="padding-right: 0">
                                <input class="form-control form-control-sm" is-open="opened.tanggal" ng-click="toggle($event, 'tanggal')" ng-disabled="is_view" ng-model="form.tanggal" type="text" uib-datepicker-popup="dd-MM-yyyy" style="height: 30px" />
                            </div>
                            <div class="col-md-1" align="center" style="padding: 5px;">
                                -
                            </div>
                            <div class="col-md-5" style="padding-left: 0;">
                                <input class="form-control form-control-sm" ng-model="form.waktu" type="time" style="height: 30px">
                            </div>
                        </div>
                    </div>
                    <div class="kanan">
                        Deskripsi :
                        <textarea class="form-control form-control-sm" rows="7" ng-model="form.deskripsi" ng-change="allpetik(form.deskripsi)"></textarea>
                    </div>
                    <div class="kanan">
                          Nama Kategori :
                        <ui-select ng-model="form.kategori" theme="bootstrap">
                            <ui-select-match placeholder="Pilih Kategori">
                               {{$select.selected.nama}}
                            </ui-select-match>
                            <ui-select-choices position="down" repeat="value in listKeyword | filter : $select.search">
                               {{value.nama}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="kanan">
                        Facebook :
                        <input type="text" class="form-control form-control-sm" rows="3" ng-model="form.facebook"></input>
                    </div>
                    <div class="kanan">
                        Instagram :
                        <input type="text" class="form-control form-control-sm" rows="3" ng-model="form.instagram"></input>
                    </div>
                    <div class="kanan">
                        Website :
                        <input type="text" class="form-control form-control-sm" rows="3" ng-model="form.website"></input>
                    </div>
                    <button ng-click="save(form,'publish')" class="btn btn-sm btn-success" title="Publish"><i class="fa fa-upload"></i> Simpan</button>
                    <button ng-if="form.status == 'publish'" ng-click="save(form,'trash')" class="btn btn-sm btn-danger" title="Trash"><i class="fa fa-trash"></i> Trash</button>
                    <button ng-if="form.status == 'trash'" ng-click="save(form,'publish')" class="btn btn-sm btn-warning" title="Trash"><i class="fa fa-refresh"></i> Restore</button>
                </div>
            </div>
        </div>
    </div>
</form>