<form name="landaform" novalidate="">
    <div class="row">
        <div class="col-md-1">
            <div class="panel panel-kiri">
                <div class="panel-body" align="center" style="padding-top: 5px;padding-bottom: 5px;">
                    <!-- Push -->
                    <button ng-click="pushSection()" class="btn btn-block" title="Section"><i class="fa fa-list"></i></button><br>
                    <button ng-click="pushHeading()" class="btn btn-block" title="Heading"><i class="fa fa-header"></i></button><br>
                    <button ng-click="pushParagraph()" class="btn btn-block" title="Paragraph"><i class="fa fa-paragraph"></i></button><br>
                    <button ng-click="pushGambar()" class="btn btn-block" title="Image"><i class="fa fa-camera"></i></button><br>
                    <!-- <button ng-click="pushQuote()" class="btn btn-block" title="Quote"><i class="fa fa-quote-left"></i></button><br> -->
                    <!-- <button ng-click="pushBcjg()" class="btn btn-block" title="Baca Juga"><i class="fa fa-list-alt"></i></button><br> -->
                    <button ng-click="pushEmbed()" class="btn btn-block" title="Embed Element"><i class="fa fa-code"></i></button>
                    <hr style="margin: 0">

                    <!-- <button ng-click="view(form)" class="btn btn-block" title="Preview"><i class="fa fa-eye"></i></button> -->
                    <hr style="margin: 0">
                    
                    <!-- User Experiance -->
                    <!-- <div ng-if="user.status == 'Penulis'">
                        <button ng-click="save(form,'draf')" class="btn btn-block" title="Draf"><i class="fa fa-save"></i></button><br>
                    </div> -->
                    <!-- <button ng-click="save(form,'editorial')" class="btn btn-block" title="Editorial"><i class="fa fa-edit"></i>
                    </button><br> -->
                    <div ng-if="user.status == 'Editor'">
                        <button ng-click="save(form,'publish')" class="btn btn-block" title="Publish"><i class="fa fa-upload"></i></button><br>
                        <!-- <button ng-click="save(form,'revisi')" class="btn btn-block"title="Revisi"><i class="fa fa-pencil-square"></i></button><br>
                        <button ng-click="save(form,'tolak')" class="btn btn-block" title="Tolak"><i class="fa fa-times"></i></button><br> -->
                        <button ng-click="save(form,'trash')" class="btn btn-block" title="Trash"><i class="fa fa-trash"></i></button><br>
                    </div>
               </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body" id="editor" style="min-height: 450px;">
                    <div ng-repeat="dett in form.detail">
                        <!-- SPLICE -->
                        <div align="right" ng-if="dett.posisi != 'judul'" style="margin-bottom: -1.9rem; margin-right: -5px;">
                            <a style="font-size: large;" href="#" ng-click="splice($index)"><i class="fa fa-times-circle"></i></a>
                        </div>

                        <!-- JUDUL -->
                        <h1 class="judul" contenteditable="true" placeholder="Tulis Judul Disini..." ng-model="dett.content" ng-if="dett.posisi == 'judul'" ng-change="striptags(dett.content,$index);" style="border-bottom: 1px solid #000;"></h1>

                        <!-- IMAGE -->
                        <div class="image-gallery" ng-if="dett.posisi == 'image'" style="margin-top: 1rem;margin-bottom: 1rem;">
                            <div ng-if="dett.content" class="image-gallery-box" style="background-image: url('{{dett.content}}'); background-size: 100%; background-repeat: no-repeat; background-position: top; height: 170px;">
                                <button type="button" class="button-upload" data-toggle='modal' data-target='#modal' ng-click="backToList($index)" style="margin: 20px 0 0;"><i class="fa fa-camera" style="margin-right: 5px;"></i> Update Image</button>
                            </div>
                            <div class="image-gallery-box" ng-if="!dett.content">
                                <div class="image-gallery-box-text">
                                    <button type="button" class="button-upload" data-toggle='modal' data-target='#modal' ng-click="backToList($index)"><i class="fa fa-camera" style="margin-right: 5px;"></i> Add Image</button>
                                </div>
                            </div>
                        </div>

                        <!-- HEADING -->
                        <h2 class="heading" contenteditable="true" placeholder="Tulis Heading Disini..." ng-if="dett.posisi == 'title'" ng-model="dett.content" ng-change="striptags(dett.content,$index);kata();" style="margin-top: 1rem;margin-bottom: 1rem;"></h2>

                        <!-- CONTENT -->
                        <div ng-if="dett.posisi == 'content'" style="margin-top: 1rem;margin-bottom: 1rem;">
                            <textarea ckeditor="editorOptions" ng-model="dett.content" ng-disabled="is_view"></textarea>
                            <!-- <div text-angular-toolbar class="toolbar" name="toolbar{{$index}}" ta-toolbar="[['insertLink', 'h3', 'bold', 'italics', 'underline', 'strikeThrough', 'ul', 'ol', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull']]"></div>
                            <div style="overflow: auto; width: 100%; height: 50%; max-width: 700px; max-height: 750px; background-color: #FFFFFF;">
                                <div text-angular ta-target-toolbars="toolbar{{$index}}" ng-model="dett.content" class="content" ng-change="kata();"></div>
                            </div> -->
                        </div>

                        <!-- QUOTE -->
                        <blockquote class="quote" contenteditable="true" placeholder="Tulis Quote Disini..." ng-model="dett.content" ng-change="kata();" ng-if="dett.posisi == 'quote'" style="margin-top: 1rem;margin-bottom: 1rem;">
                        </blockquote>

                        <!-- BACA JUGA -->
                        <div ng-if="dett.posisi == 'bacajuga'" style="margin-top: 1rem;margin-bottom: 1rem;">
                            <p>
                                <b>Baca Juga:</b> 
                                <button class="btn btn-sm btn-success" ng-click="pushContentBcjg($index)"><i class="fa fa-plus"></i></button>
                            </p>
                            <p class="bacajuga">
                                <ul>
                                    <li ng-repeat="list in dett.content" style="padding: 5px;">
                                        <div class="row">
                                            <div class="col-md-10">
                                                <ui-select ng-model="list" theme="bootstrap" on-select="bcjg($select.selected , $index)">
                                                    <ui-select-match placeholder="Ketik judul yang ini dicari...">
                                                        {{$select.selected.judul}}
                                                    </ui-select-match>
                                                    <ui-select-choices position="down"  refresh="cariArtikel($select.search)"repeat="value in listjudul | filter : $select.search">
                                                        {{value.judul}}
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="col-md-2" ng-if="list.splice == true">
                                                <button class="btn btn-sm btn-danger" ng-click="spliceContentBcjg($index)"><i class="fa fa-times"></i></button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </p>
                        </div>

                        <!-- EMBED -->
                        <textarea ng-model="dett.content" ng-if="dett.posisi == 'embedelement'" class="form-control" rows="4" style="margin-top: 1rem;margin-bottom: 1rem;"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-md-10" style="font-style: italic;margin-top: 5px;">
                            Info : Jumlah seluruh kata : <b><u>{{jmlkata}}</u></b>, Jumlah seluruh Karakter <b><u>{{karakter}}</u></b>.
                        </div>
                        <div class="col-md-2" align="right">
                            <button class="btn btn-default btn-sm" ng-click="copyAll()"><i class="fa fa-copy"></i> Copy ALL</button>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="col-md-3">
            <div class="panel" style="display: block; position: fixed; border-radius: 5px;padding-top: 0px; padding-bottom: 0px;width: 19%;">
                <div class="panel-body">
                    <div class="kanan">
                        alias :
                        <textarea class="form-control form-control-sm" rows="3" ng-model="form.alias" ng-change="UrlParse(form.alias)"></textarea>
                    </div>
                    <div class="kanan">
                        Publish :
                        <div class="row">
                            <div class="col-md-6" style="padding-right: 0">
                                <input class="form-control form-control-sm" is-open="opened.tanggal" ng-click="toggle($event, 'tanggal')" ng-disabled="is_view" ng-model="form.tanggal" type="text" uib-datepicker-popup="dd-MM-yyyy" style="height: 30px" />
                            </div>
                            <div class="col-md-1" align="center" style="padding: 5px;">
                                -
                            </div>
                            <div class="col-md-5" style="padding-left: 0;">
                                <input class="form-control form-control-sm" ng-model="form.waktu" type="time" style="height: 30px">
                            </div>
                        </div>
                    </div>
                    <div class="kanan">
                        Deskripsi :
                        <textarea class="form-control form-control-sm" rows="7" ng-model="form.deskripsi" ng-change="allpetik(form.deskripsi)"></textarea>
                    </div>
                    <!-- <div class="kanan">
                        Keyword :
                        <ui-select ng-model="form.kyutm" theme="bootstrap" on-select="kyutma($select.selected)">
                            <ui-select-match placeholder="Pilih Keyword Utama">
                                {{$select.selected.nama}}
                            </ui-select-match>
                            <ui-select-choices position="down" repeat="value in listKeyword | filter : $select.search">
                                {{value.nama}}
                            </ui-select-choices>
                        </ui-select>
                        <textarea class="form-control form-control-sm" rows="2" ng-model="form.keyword" ng-keyup="get_koma(form.keyword)"></textarea>
                    </div> -->
                    <div class="kanan">
                          Nama Kategori :
                        <ui-select ng-model="form.kategori" theme="bootstrap">
                            <ui-select-match placeholder="Pilih Kategori">
                               {{$select.selected.nama}}
                            </ui-select-match>
                            <ui-select-choices position="down" repeat="value in listKeyword | filter : $select.search">
                               {{value.nama}}
                            </ui-select-choices>
                        </ui-select>
                        <!-- <textarea class="form-control form-control-sm" rows="2" ng-model="form.keyword" ng-keyup="get_koma(form.keyword)"></textarea> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>