<div class="modal" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <form name="landaform" novalidate="" enctype="multipart/form-data">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div ng-if="!is_upload">
                        <button class="btn btn-primary" ng-click="addImage(index)">Upload Image</button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div ng-if="is_upload">
                        <span>&nbsp;</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button><br>
                        <span>&nbsp;</span>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-if="is_upload">
                        <p class="button-upload-modal" style="background: url('{{gambar.value}}');background-size: 100%; background-repeat: no-repeat; background-position: top;">
                            <input type="file" accept="image/*" ng-model="gambar.value" base-sixty-four-input="" ng-change="readURL(gambar)">
                        </p>
                    </div>                            
                    
                    <div st-pipe="callServer2" st-table="gambar" ng-if="!is_upload">
                        <div class="row" ng-show="!isLoading">
                            <div class="col-md-3" ng-repeat="gmbr in gambar" style="margin-bottom: 10px; ">
                                <a ng-click="addToBorder(gmbr,index)">
                                    <div class="listImage" style="background: url('{{gmbr.thumb}}');background-repeat: no-repeat;background-position: top; background-size: 100%;">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-12">
                                <div st-pagination="" st-items-by-page="12" st-template="tpl/common/pagination.custom.html" class="pull-right"></div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="panel-footer" ng-if="is_upload" style="padding: 15px 15px;padding-bottom: 1px;">
                    <!-- <p style="font-size: 10px;">
                        <b>Note</b> Proses upload memerlukan waktu dikarenakan ada beberapa proses yang dilakukan <br>
                        1. Resize image otomatis <br>
                        2. Mencreate thumbnail gambar <br>
                        3. Proses upload ke server CMS <br>
                        4. Proses upload ke server Google
                    </p> -->
                    <p align="right">
                        <button type="submit" class="btn btn-primary" button-spinner="loading_upload" ng-disabled="loading_upload || !gambar.thumb" ng-click="savegambar(gambar,index)">Save & Upload</button>
                        <button type="button" class="btn btn-secondary" ng-click="backToList(index)">Back</button>
                    </p>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>