<div class="row" ng-show="!isLoading">
    <div class="col-md-12">
        <div class="card" style="margin: auto;width: 360px;height: 640px;overflow: scroll;">
            <div class="card-body" style="padding: 0px;">
                <ul style="list-style: none;background-color: #fff;padding: 0;margin: 0; border-top: 1px solid #ddd;visibility: visible;">
                    <li style="display: list-item;">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul itemscope="" itemtype="http://schema.org/BreadcrumbList" class="BreadcrumbList" style="margin: 0; padding:0;">
                                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" style="display: inline-block;">
                                            <h4 class="dip" style="margin: 0px;font-size: 14px;">
                                                <a href="https://m.larensi.com" itemprop="item" itemtype="http://schema.org/Thing" style="color: #464647;text-decoration: none;">
                                                    <span itemprop="name">
                                                        Home
                                                    </span>
                                                </a>
                                                <meta content="1" itemprop="position">
                                                
                                            </h4>
                                        </li>
                                        <span class="pl5 pr5">
                                            »
                                        </span>
                                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" style="display: inline-block;">
                                            <h4 class="dip" style="margin: 0px;font-size: 14px;">
                                                <a href="https://m.larensi.com/{{preview.keyword[0]}}" itemprop="item" itemtype="http://schema.org/Thing" style="color: #464647;text-decoration: none;">
                                                    <span itemprop="name" style="text-transform: capitalize">
                                                        {{preview.keyword[0] }}
                                                    </span>
                                                </a>
                                                <meta content="2" itemprop="position">
                                                
                                            </h4>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6" align="right">
                                    <a ng-click="backView()" href="" style="color: #20a8d8;font-weight: 500;text-transform: capitalize;font-size: 14px;"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                                </div>
                            </div>
                            <h1 ng-bind-html="preview.judul"></h1>
                            <div style="margin-bottom: 5px;text-align: left;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;text-transform: uppercase;">
                                <span style="padding: 0;position: relative;font-size: 12px;color: grey;">
                                    <i class="fa fa-calendar"></i> {{preview.jam*1000 | date: "dd MMMM"}}
                                </span>
                                <span style="padding: 0;position: relative;font-size: 12px;color: grey;">
                                    <i class="fa fa-user"></i> {{preview.created_name}}
                                </span>
                                <span style="padding: 0;position: relative;font-size: 12px;color: grey;">
                                    <i class="fa fa-tag"></i> {{preview.keyword[0]}}
                                </span>
                            </div>
                            <div ng-bind-html="preview.content"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
